@import url(//db.onlinewebfonts.com/c/a0cb693c715aaf804e67963c4d0d4d90?family=ModeSeven);

@font-face {
    font-family: AlgolRevived;
    src: url('../fonts/AlgolRevived.otf') format('opentype');
  }
  

.column-container-focus-area{
    text-align: left;
    font-size: 25px;
    line-height: 30px;
    font-family:  "Prompt";
    letter-spacing: 0px;
    color: #000000;
}

.left{
    width: 374px;
}

.middle{
    width: 400px;
    margin-left: 44px;
}

.right{
    width: 400px;
    margin-left: 74px;
}

.column-wrapper-focus-area{
    margin-left: 277px;
    display: flex;
}

.folder-1{
    width: 183px;
    height: 104px;
    cursor: pointer;
    font-size: 20px;
    margin-left: -25px;
}

.folder-2{
    width: 183px;
    height: 104px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 15px;
}

.folder-3{
    width: 183px;
    height: 104px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 40px;
}

.foss-card-content{
background-color: #fbf6f6;
border-right: 2.5px solid #231F20;
border-left: 2.5px solid #231F20;
border-bottom: 2.5px solid #231F20;
padding: 10px 17px 10px 10px;
width: 95%;
height: 92%;
position: relative;
font-family: 'AlgolRevived';
/* color: #117a8b; */
font-size: 17px;
font-weight: 600;
color: #0050EF;
line-height: 22px;
}

.window-card {
    background-color: none;
    width: 300px;
    margin-top: 59px;
    margin-left: -15px;
}