path {
  stroke: black;
  stroke-width: 0.1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.filter {
    filter: drop-shadow(17px 17px 0 black);
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    font-family: AlgolRevived;
    text-align: center;
    z-index: 2;
}

.wrapper:hover {
    transform: scale(1.05);
}

.small-folder {
    margin: 10%;
}

.folder-caption {
    background-color: #F8FF40;
    font-size: 20px;
    border: 2px solid black;
    padding: 7px;
    transition: transform 0.5s ease-in-out;
    margin: -25% 35%;
    float: left;
    white-space: nowrap;
}
