.foss-title {
    float: left;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 8px 7px;
    border: 3px solid #231F20;
}

.foss-title-center {
    width: 40%;
    font-weight: 800;
    margin: 0 auto 50px auto;
    text-align: center;
}
